<nav class="navbar navbar-expand-lg navbb">
    <img
    width="60"
    alt="Angular Logo"
    src="/assets/imgs/DoctorLogo.png" 
  />
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="nav">
        <button type="submit" class="btn myButton btn-sm fonttext" [routerLink]="['']">
          <span>Home</span>
        </button>
        <button type="submit" class="btn myButton btn-sm fonttext" [routerLink]="['/Contact']">
          <span>Contact</span>
        </button>
        <button type="submit" class="btn btn-sm fonttext loginbutton" [routerLink]="['/Login']">
          <span>Login</span>
        </button>
      </div>
      
      
      
    </div>
  </nav>
