.navbar-expand-lg{
    background-color: #13364f ;
  }
.nav{
    margin-left: 100px;
    
}
.loginbutton{
    margin-left: 980px;
    font-size: 16px;
    cursor: pointer;
    transition: 256ms all;
    //font-weight: bold;
    color: #ffffff;
}
.loginbutton:hover{
    color: white;
    background-color: #ffffff;
}
.myButton {
    font-size: 16px;
    cursor: pointer;
    transition: 256ms all;
    //font-weight: bold;
    color: #ffffff;
  }
  .myButton:hover {
    color: #ffffff;
  }