.buttonDel{
    padding-left: 11px;
    margin-bottom: 2px;
}
.buttonUpd{
    background-color: #2fb45a;
    color: white;
    padding-left: 11px;
    margin-bottom: 2px;
}
.buttonview{
    background-color: #4eb3d8;
    color: white;
}