.body{
    margin-right: 200px;
    padding-top: 39px;
    padding-bottom: 10px;
    //display: flex;
    // padding: 10% ;
    //margin-top: 80px;
}
.buttonUpd{
    background-color: #2fb45a;
    margin-right: 10px;
    color: white;
  }
  .tab{
    margin: 44px 200px 220px 120px;
  }
  .buttonNew{
    //margin-left: 35px;
    border-color: #155a8b;
    background-color: white;
    color: #155a8b;
    align-items: self-end;
    float: right;
    }
    .buttonNew:hover{
    //margin-left: 35px;
    background-color: #155a8b;
    color: white;
    align-items: self-end;
    float: right;
    }