.ButtonCancel{
    color: white;
    background-color: rgb(146, 148, 147);
    font-size: 20px;
}
.ButtonCancel:hover{
    color: white;
    background-color: rgb(190, 192, 191);
    font-size: 20px;
}

.Buttonedit{
    color: white;
    background-color: rgb(4, 170, 109);
    //padding: 0px 15px 0px 15px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 20px;
}
.Buttonedit:hover{
    color: white;
    background-color: rgb(80, 218, 167);
    //padding: 0px 15px 0px 15px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 20px;
}
.buttonGroupe{
    margin: 30px 0px 10px 0px;
    padding-left: 50%;

}