<div class="editpastient">
    <h1 class="fonttext d-flex justify-content-center"> update Patient</h1>
    <br>
    <br>
           <form [formGroup]="addpatientForm" (ngSubmit)="updpatient()">
      <div class="form-group row">
        <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg fonttext">First Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control form-control-lg" formControlName = "name" name="namef" required >
        </div>
      </div>
      <br>
    
    <div class="form-group row">
        <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg fonttext">Last Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control form-control-lg"  formControlName  = "surname" name="surnamef" required >
        </div>
      </div>
      <br>
    
    
    <div class="form-group row">
        <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg fonttext">Adress</label>
        <div class="col-sm-10">
          <input type="text" class="form-control form-control-lg" formControlName  = "adress" name="adressf" required>
        </div>
      </div>
      <br>
    
    <div class="form-group row">
        <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg fonttext">Phone</label>
        <div class="col-sm-10">
          <input type="text" class="form-control form-control-lg" formControlName = "phone" name="phonef" required>
        </div>
      </div>
      <div class="buttonGroupe">
        <button type="submit"
            class="btn ButtonCancel btn-sm marginR fonttext"   style="margin-left:200;"
            [routerLink]="['/Doctor/Patients']">
            <span>Cancel</span>
        </button>
        <button type="button"
      
            class="btn Buttonedit btn-sm fonttext"   style="margin-left:200;" (click)="updpatient()"
            [routerLink]="['/Doctor/Patients']">
            <span>Edit</span>
        </button>
    </div>
    </form>