<div class="bodyc row">
    <div class="background"></div>
    
    <div class="outer-div">
      <div class="inner-div">
        <div class="front">
          <div class="front__bkg-photo"></div>
          <div class="front__face-photo"><img width="140" alt="Doctor Pic" src="/assets/imgs/Tasnim.jpg"/></div>
          <div class="front__text">
            <h3 class="front__text-header">Dr.Tassnim Hammouda</h3>
            <p class="front__text-para"><i class="fas fa-map-marker-alt front-icons"></i>email : tassnim.hammouda@gmail.com</p>
            
            <!--<span class="front__text-hover">Hover to Find Me</span> -->
          </div>
        </div>
        <div class="back">
          <div class="social-media-wrapper">
            <button class="buttonSidbar " [routerLink]="['/Doctor']">Forum</button><br>
            <button class=" btn buttonSidbar" [routerLink]="['Profile']">Profile</button>
            <button class="buttonSidbar" [routerLink]="['Patients']">Patients</button><br>
            <button class=" btn buttonSidbar" [routerLink]="['Document']">Document</button>
          </div>
        </div>
    
      </div>
    </div>
    </div>
    