<div class="containers">
    <div class="container">
        <form>
          <label for="fname">First Name</label>
          <input type="text" id="fname" name="firstname" placeholder="Your name..">
      
          <label for="lname">Last Name</label>
          <input type="text" id="lname" name="lastname" placeholder="Your last name..">
      
          <label for="lname">Email address</label>
          <input type="text" id="lname" name="lastname" placeholder="email@example.com">
          
          <label for="subject">CV</label>
          <form>
              <input type = "file" name = "fileupload" accept = "image/*" />
              
              <input type="file" id="myfile" name="myfile">
              <input type="file" id="myfile" name="myfile" multiple>
          </form>
          <br>
          <br>
          <input type="submit" value="Send">
        </form>
      </div>
    
    </div>