
body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

input[type=email], input[type=password] {
  width: 80%;
  padding: 4px 8px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: rgb(4, 170, 109);
  color: white;
  padding: 4px 8px;
  margin: 8px 0px;
  border: none;
  cursor: pointer;
  width: 80%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: 20%;
  padding: 4px 19px;
  margin: 10px 10px;
  background-color: #f44336;
}
.inscription {
    width: 20%;
    padding: 4px 19px;
    margin: 10px 0px;
  }

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 30%;
  border-radius: 50%;
  margin: 4px 0;
}
.contentcenter {
  padding: 7% 20px 5% 20px;
}
.containertop {
  padding: 0px 0px 0px 15%;
}
.containerbuttom {
  padding: 0px 10px 0px 5px;
}

span.psw {
  float: right;
  padding-top: 9px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}