<div class="new">
    <div class="row justify-content-center">
        <div class="col-md-2">
            <h4 class="fonttext">First Name: </h4> 
        </div>
        <div class="col-md-3 m-1">
          <h5 class="fonttext info">{{Patient?.name}}</h5> 
        </div>
    
    </div>
    <div class="row justify-content-center">
        <div class="col-md-2">
            <h4 class="fonttext">Last Name: </h4> 
        </div>
        <div class="col-md-3 m-1">
          <h5 class="fonttext info">{{Patient?.surname}}</h5> 
        </div>
    
    </div>
    
    <div class="row justify-content-center">
        <div class="col-md-2">
            <h4 class="fonttext">Adress: </h4> 
        </div>
        <div class="col-md-3 m-1">
          <h5 class="fonttext info">{{Patient?.adress}}</h5> 
        </div>
    
    </div>
    <div class="row justify-content-center">
        <div class="col-md-2">
            <h4 class="fonttext">phone: </h4> 
        </div>
        <div class="col-md-3 m-1">
          <h5 class="fonttext info">{{Patient?.phone}}</h5> 
        </div>
    
    </div>
    
    
</div>